<!DOCTYPE html>
<html lang="en">

<head></head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/ae0153af6c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/footer.css" />
<!-- <script src="javascripts/header.js"></script> -->
<title>Footer</title>
</head>

<body>
    <div class="footer">
        <div class="madeWithLove-container">
            <h3 class="madeWithLove">Made with <i class=" colorPink fa-solid fa-heart"></i> </h3>
        </div>
        <div class="navbar-container">
            <!-- <img class="muffinImage" src="/images/png_muffin_14613.png"> -->
            <ul class="menu-footer">
                <li class="item"><a href="/">Home </a></li>
                <li class="item"><a href="/about-us">About us</a></li>
                <li class="item"><a href="/help">Help</a></li>
            </ul>
        </div>
    </div>

</body>

</html>