<!DOCTYPE html>
<html lang="en">

<head></head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/ae0153af6c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/footer.css" />
<!-- <script src="javascripts/header.js"></script> -->
<title>Footer</title>
</head>

<body>
    <div class="footer" id="footer">
        <div class="navbar-container-links">
            <ul class="menu-footer">
                <li class="item mainItem"><a href="<%=baseUrl%>">Home </a></li>
                <li class="item"><a href="<%=baseUrl%>/about-us">About us</a></li>
                <li class="item"><a href="<%=baseUrl%>/help">Help</a></li>
            </ul>

        </div>

        <div class="footer-text-container">
            <a class="about-this-project-link" href="<%=baseUrl%>/aboutThisProject">About this project</a>
            <p>© 2023 <a href="http://www.martinzazpe.com" target="_blank" class="my-website-link">Martin Zazpe</a>. All rights reserved.</p>
        </div>
    </div>

</body>

</html>