<!DOCTYPE html>
<html lang="en">

<head></head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/ae0153af6c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/footer.css" />
<!-- <script src="javascripts/header.js"></script> -->
<title>Footer</title>
</head>

<body>
    <div class="footer">
        <div class="navbar-container-links">
            <ul class="menu-footer">
                <li class="item mainItem"><a href="/">Home </a></li>
                <li class="item"><a href="/about-us">About us</a></li>
                <li class="item"><a href="/help">Help</a></li>
            </ul>
            <ul class="menu-footer">
                <li class="item mainItem"><a href="/user/login">Log in</a></li>
                <li class="item"><a href="/user/register">Creating a user</a></li>
                <li class="item"><a href="/recipes/list">Gallery </a></li>
            </ul>
            <ul class="menu-footer">
                <li class="item mainItem"><a href="/recipes/create">Upload a recipe</a></li>
                <li class="item"><a href="/help">Media</a></li>
                <li class="item"><a href="/aboutThisProject">About this project</a></li>
            </ul>
        </div>

        <div class="madeWithLove-container">
            <h3 class="madeWithLove">Made with <i class=" colorPink fa-solid fa-heart"></i> by Martin
                <a class="footer-github-link" target="_blank" href="https://github.com/MartinZazpe"><i class="fa-lg colorBlue fa-brands fa-github"></i></a>
                <a class="footer-github-link" target="_blank" href="www.linkedin.com/in/martin-zazpe-290829121"><i class=" linkedin fa-brands fa-linkedin-in"></i></a>

            </h3>

        </div>
    </div>

</body>

</html>