<!DOCTYPE html>
<html lang="en">

<head></head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/ae0153af6c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/footer.css" />
<!-- <script src="javascripts/header.js"></script> -->
<title>Footer</title>
</head>

<body>
    <div class="footer">
        <div class="navbar-container-links">
            <ul class="menu-footer">
                <li class="item"><a href="/">Home </a></li>
                <li class="item"><a href="/about-us">About us</a></li>
                <li class="item"><a href="/help">Media</a></li>
                <li class="item"><a href="/help">Help</a></li>
            </ul>
        </div>
        <div class="navbar-container-morelinks">
            <ul class="menu-footer">
                <li class="item"><a href="/products/list">Gallery </a></li>
                <li class="item"><a href="/user/login">Log in</a></li>
                <li class="item"><a href="/user/register">Creating a user</a></li>
            </ul>
        </div>

        <div class="madeWithLove-container">
            <h3 class="madeWithLove">Made with <i class=" colorPink fa-solid fa-heart"></i> by Martin <a class="footer-github-link" href="https://github.com/MartinZazpe"><i class="colorBlue fa-brands fa-github"></i></a></h3>


        </div>
    </div>

</body>

</html>