<!DOCTYPE html>
<html lang="en">

<head></head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/ae0153af6c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/header.css" />
<script src="/javascripts/header.js"></script>
<title>Header</title>
</head>

<body class="navbarBody">
    <div class="flexboxInitial navbarFixed" id="navbar">
        <div class="navbar-container">
            <!-- <img class="muffinImage" src="/images/png_muffin_14613.png"> -->
            <ul class="menu">
                <li class="hambMenu"><i class="fa-solid fa-bars fa-lg"></i></li>
                <li class="xMenu noDisplay"><i class="fa-solid fa-x fa-xl"></i></li>
                <li class="list listDisplay"><a href="/recipes/create">Upload a recipe </a></li>
                <li class="list listDisplay"><a href="/recipes/list">All recipes </a></li>
                <li class="list listDisplay"><a href="/">Home</a></li>
            </ul>
        </div>
        <div id="logo">
            <h1>Cooking<img class="cookie-logo" src="/images/cookie-logo.png"></h1>
        </div>

        <div class="login-register">
            <i class="fa-solid fa-arrow-right-to-bracket fa-xl"></i>
        </div>
    </div>


</body>

</html>