<!DOCTYPE html>
<html lang="en">

<head></head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/ae0153af6c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/header.css" />
<script src="/javascripts/header.js"></script>
<title>Header</title>
</head>

<body>
    <div class="navbar-flexbox" id="navbar">

        <div class="hamburger">
            <!-- <a href="#" class="toggle-button "> -->
            <span class="bar"> </span>
            <span class="bar"> </span>
            <span class="bar"> </span>
            <!-- </a> -->
        </div>
        <div id="logo">
            <h1>The g<span class="title-span">oo</span>d Kitchen</h1>
        </div>

        <div class="search-wrapper">
            <form class="search-form" action="/recipes/search" method="POST">
                <div class="search-bar-container">
                    <label class="search-label" for="search"></label>
                    <input class="search-input" type="search" name="search" id="search" placeholder="What would you like to cook?">
                </div>
                <div class="search-icon-container">
                    <i class="search-icon fa-lg fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="search-btn-container">
                    <input class="search-submit" type="submit" value="Search">
                </div>
            </form>
        </div>

        <div class="navigation-list-dropdown noDisplay">
            <ul>
                <li><a href="/recipes/create">Upload a recipe</a></li>
                <li><a href="/recipes/list">All recipes</a></li>
                <li><a href="/">Home</a></li>
                <% if(locals.islogged) { %>
                    <div class="userLogged-links dropdown">
                        <button class="dropdown-btn">
                            <% if(locals.userLogged) { %>
                                <img class="user-image-miniature" src="../../images/userImages/<%=userLogged.image %>">
                                Hey user
                        </button>
                        <% } %>
                            <div class="dropdown-content">
                                <li><a href="/user/profile">My profile</a></li>
                                <li><a href="/user/logout">Logout</a></li>
                            </div>
                    </div>
                    <% } else { %>
                        <div class="user-links dropdown">
                            <li><a href="/user/login">Login</a></li>
                            <li><a href="/user/register">Register</a></li>
                        </div>
                        <% } %>

            </ul>
        </div>

        <!-- <div class="login-register-container">
            <div class="user-icon"><a href="#"><i class="dropdown-button fa-solid fa-user fa-xl"></i></a></div>
            <div class="user-dropdown noDisplay">

            </div> -->
    </div>
</body>

</html>