<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/about-thisProject.css' />
    <title>About this project</title>
</head>

<body>
    <%- include("partials/header.ejs") %>
        <main>
            <div class="body-information">
                <div class="about-project-container">
                    <h1>About this project</h1>
                    <section class="main-content">
                        <p>First and foremost, I would like to express my gratitude for taking the time to explore this website.</p>
                        <br>
                        <p> The primary goal was to develop a comprehensive CRUD website integrated with databases and backed by thorough validations, all powered by Node.js.</p>
                        <br>
                        <p> This culinary platform empowers users to:

                        <div class="website-traits">
                            <ul>
                                <li>Upload, edit, and delete their personal recipes</li>
                                <li>Explore a variety of existing recipes</li>
                                <li>Establish and modify their user profile</li>
                                <li>Engage with other users through comments and ratings on their recipes</li>
                            </ul>
                        </div>
                        </p>
                    </section>
                    <section class="technical-details-container">
                        <h4>Technologies used</h4>
                        <div class="technologies-list">
                            <a href=""><span class="iconImage-html"></span>HTML</a>
                            <a href="">
                                <span class="iconImage-css"></span>
                                CSS
                            </a>
                            <a href=""><span class="iconImage-js"></span>Javascript</a>
                            <a href=""><span class="iconImage-NodeJS"></span>Node JS with Express</a>
                            <a href=""><span class="mysqlLogo"></span>Mysql</a>
                        </div>

                    </section>
                    <div>

                    </div>
                    <div>
                        <h4>So go ahead...</h4>
                        <p>Create a user, upload a recipe, edit anything (as long as its yours)&#128561;
                        </p>
                        <p>Comment a recipe, rate it and <span style="color:blue">have fun!</span></p>
                    </div>
                </div>
            </div>
        </main>
        <%- include("partials/footer.ejs") %>
</body>

</html>