<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='<%= process.env.NODE_ENV === "production" ? "/the-good-kitchen/" : "/" %>stylesheets/style.css' />
    <link rel='stylesheet' href='<%= process.env.NODE_ENV === "production" ? "/the-good-kitchen/" : "/" %>stylesheets/about-us.css' />
    <title>about-us</title>
</head>

<body>
    <%- include("partials/header.ejs") %>
        <main>
            <div class="body-information">
                <div class="about-us">
                    <h1>Welcome to our Culinary heaven!</h1>
                    <p>We are overjoyed to have you here.
                        Our adventure revolves around the art of sharing recipes, each one narrating its unique story.</p>
                </div>
                <div>
                    <img class="cook-world" src="https://i.imgur.com/9pjWA0X.jpg">
                </div>
            </div>
        </main>
        <%- include("partials/footer.ejs") %>
</body>

</html>