<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
  <%- include("partials/header.ejs") %>
    <div class="body-information">
      <section class="introduction">
        <h3>Upload your recipe and share it with the world!</h3>
        <p>We love sharing what we know and are thrilled that you are here.
          Tell us all about yourself through your recipes sharing details and images
          to inspire others around the world
        </p>
      </section>
      <section class="recipe-examples">
        <h3>Our users have told us their story</h3>
        <p>Check out the most recent uploads</p>
        <div>

        </div>
      </section>
    </div>
    <%- include("partials/footer.ejs") %>
</body>

</html>