<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script src="https://kit.fontawesome.com/ae0153af6c.js" crossorigin="anonymous"></script>
    <title>Help</title>
</head>

<body>
    <%- include("partials/header.ejs") %>
        <section class="main-section">
            <div class="body-information">
                <h1>Log in</h1>
            </div>
            <div class="errors-container">
                <% if (locals.errors) { %>
                    <% errors.forEach(error=> { %>
                        <p class="error-msg">
                            <%=error.msg %>
                        </p>
                        <% }) %>
                            <% } %>
            </div>

            <p> error message would go here </p>
            <div>
                <form action="/user/login" method="POST">
                    <label for="">Email</label>
                    <input type="email" name="email">
                    <label for="">Password</label>
                    <input type="password" name="password">
                    <input type="submit" value="Login">
                </form>
            </div>
        </section>

        <%- include("partials/footer.ejs") %>
</body>

</html>