<!DOCTYPE HTML>
<html>

<head>
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/not-found.css">
    <script src="https://kit.fontawesome.com/ae0153af6c.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
        <div class="image-container">
            <img class="error-image" src="../../images/ErrorImage.webp" alt="error-404-image">

        </div>
        <div class="error-greeting">
            <h1>Sorry</h1>
            <h2>page not found</h2>
        </div>
        <div class="link-container">
            <a href="/"> Go back Home <i class="fa-solid fa-house"></i> </a>
        </div>
    </div>

    </div>
</body>

</html>