<!DOCTYPE HTML>
<html>

<head>
    <title>Error</title>
    <link rel='stylesheet' href='<%= process.env.NODE_ENV === "production" ? "/the-good-kitchen/" : "/" %>stylesheets/style.css' />
    <link rel='stylesheet' href='<%= process.env.NODE_ENV === "production" ? "/the-good-kitchen/" : "/" %>stylesheets/not-found.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/ae0153af6c.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container-error-page">
        <div class="error-image-text">
            <div class="image-container">
                <img class="error-image" src="https://i.imgur.com/wqlVGQr.png" alt="error-404-image">
                <div class="error-greeting">
                    <h1>Sorry</h1>
                    <h2>page not found</h2>
                </div>

            </div>

        </div>
        <div class="link-container">
            <a href="/the-good-kitchen"> Go back Home<i class="fa-solid fa-house"></i> </a>
        </div>

    </div>
    </div>
</body>

</html>