<ul class="ingredients-list">
    <p>Ingredients:</p>
    <% for(let i=0; i < recipe.Ingredients.length; i++ ){ %>
        <li>
            <%= recipe.Ingredients[i] %>
        </li>
        <% } %>
</ul>


/* ul li {
list-style-type: circle;
padding: 5px 0;
color: blue;
} */