.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.footer {
    bottom: 0;
    left: 0;
    background-color: #f1f5f9;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.navbar-container-links {
    width: 100%;
}

.navbar-container-morelinks {
    width: 100%;
}

.madeWithLove-container {
    width: 100%;
    border-top: 1px dashed grey;
}

.madeWithLove {
    align-self: center;
    font-size: 0.8rem;
    padding: 15px;
    margin: 0;
    font-weight: 100;
}


.menu-footer {
    display: flex;
    justify-content: space-evenly;
}

.menu-footer li a {
    color: black !important;
    font-size: 0.8rem !important;
    font-weight: 600 !important;
}

.colorPink {
    color: pink
}

.menu-footer {
    display: flex;
    flex-direction: row;
}

.menu-footer li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.colorBlue {
    color: blue !important;
}