.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.footer {
    bottom: 0;
    left: 0;
    background-color: #f1f5f9;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.madeWithLove-container {
    width: 100%;
}

.madeWithLove {
    align-self: center;
    font-size: 0.8rem;
    padding: 15px;
}

.navbar-container {
    flex: 1;
}

.menu-footer {
    display: flex;
    justify-content: space-evenly;
}

.menu-footer li a {
    color: black;
    font-size: 0.8rem;
}

.colorPink {
    color: pink
}

.menu-footer {
    display: flex;
    flex-direction: row;
}

.menu-footer li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}