/*issues:  nav links when hover wont be displayed to 100% of its container*/


* {
    box-sizing: border-box;
}

#navbar {
    /* background-color: #121214; cool black option */
    background-color: rgb(47, 84, 88);
    position: fixed;
    width: 100%;
    z-index: 2;
}

/* .navigation-list-dropdown {
    background-color: rgba(164, 189, 191, 0.8);
} */


.menu li {
    /* font-size: 16px; */
    /* padding: 15px 5px; */
    white-space: nowrap;
}

/* ul {
    width: 100%;
} */




.navigation-list-dropdown ul {
    display: flex;
    flex-flow: wrap column;
    width: 100%;
}


.navigation-list-dropdown ul li {
    list-style: none;
}


.navigation-list-dropdown li a {
    padding: 1rem;
    text-decoration: none;
    display: block;
    font-size: 0.8rem;
}

.navigation-list-dropdown li:hover {
    background-color: #555;
}

.navigation-list-dropdown li:hover a {
    color: rgb(207, 181, 181);
}

.navigation-list-dropdown {
    width: 100%;
    transition: all 3s ease 2s
}

.navigation-list-dropdown.active {
    width: 100%;
    transition: all 3s ease 2s
}

.navigation-list-dropdown {
    max-height: 3s ease;
}

.noDisplay {
    display: none;
}

.noVisible {
    visibility: hidden;
}


body i {
    color: black;
}




/* here the hambu menu */

.hamburger {
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
    /* height: 20px;
    width: 21px; */
}


.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg)
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg)
}



.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


.navbar h1 {
    display: flex;
    justify-content: center;
}

.title-span {
    color: rgb(255, 255, 255) !important;
}

#logo h1 {
    font-family: Brush Script MT !important;
    position: relative;
    font-size: 1.7rem;
    margin: .5rem;
}

ul {
    margin: 0;
}




#navbar .hambMenu,
.login-register-container i,
#logo h1 {
    color: rgb(199, 176, 176);
}

.dropdown {
    float: left;
    overflow: initial;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.dropdown-btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

.dropdown-btn {
    color: white !important;
    padding: 0px;
    display: flex;
    align-items: center;
}

.dropdown-btn>* {
    padding: 0px 5px;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    list-style-type: none;
    display: block;
    text-align: left;
}

.dropdown-content li {
    list-style-type: none;
}


.dropdown:hover .dropdown-content {
    display: block;
}


.user-image-miniature {
    width: 35px;
    border-radius: 15px;
}

/* End of user links navbar */



.navbar-flexbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;

}







/* Search bar*/
.search-input {
    font-size: 0.8rem !important;
    width: 100%;
    height: 35px;
    border: 1px solid rgb(188, 180, 180);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    position: relative;
}

.search-icon-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.search-icon {
    right: 5vw;
    position: absolute;
    z-index: 2;
    color: rgb(139, 147, 146);
    align-self: center;
}

.search-wrapper {
    width: 100%;
}

.search-form {
    display: flex;
    justify-content: space-evenly;
}


.search-label {
    display: none;
}

.search-bar-container {
    width: 100%;
}

.search-btn-container {
    display: none;

}

/* End of Search bar*/




/* 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

} */



/* .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    list-style-type: none;
    display: block;
    text-align: left;
} */


/* .dropdown-content li {
    list-style-type: none;
}



.dropdown:hover .dropdown-content {
    display: block;
} */

.dropdown-btn {
    background-color: rgba(0, 0, 0, 0);
}

.userLogged-links {
    width: 100%;
    background-color: rgba(74, 164, 171, 0.6);
}

.userLogged-links:hover {
    background-color: #555;
}

.user-links {
    width: 100%;
    list-style: none;
}


.extraMargin {
    margin-top: 30px;
}




@media (min-width:480px) {

    /* li {
        width: 20vw;
    } */

    .hamburger {
        display: none;
    }

    .user-links {
        list-style: none;
    }

    .navbar-flexbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation-list-dropdown {
        border-top: 3px solid rgb(144, 208, 221);
    }

    .navigation-list-dropdown {
        display: initial;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .navigation-list-dropdown ul {
        flex-direction: row;
    }

    .navigation-list-dropdown .navbar-links {
        flex-basis: 65%;
    }

    .navigation-list-dropdown .user-links,
    .userLogged-links {
        display: flex;
        justify-content: center;
        flex-basis: 30%;
    }

    .navbar-links ul {
        display: flex;
        justify-content: space-evenly;
    }

    .dropdown-content ul {
        display: flex;
    }


    .user-links,
    .userLogged-links {
        display: flex !important;
        border-left: 0.1px solid rgb(144, 208, 221);
    }

    .userLogged-links ul li {
        width: 100%;
    }


    .dropdown-btn {
        display: Flex;
        justify-content: center;
    }

    .dropdown-btn>* {
        text-align: center;
    }

    #logo h1 {
        font-size: 2rem;
    }


}

/* @media (min-width: 600px) {
    li {
        padding: 0px 10px;
    }
} */