.main-section {
    padding: 50px;
    text-align: center;
}

.body-information h1 {
    color: black;
    padding: 20px;
}

.contact-links {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}


.contact-links ul li {
    padding: 40px;
}

ul li i {
    color: blue;
}