.introduction {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 2px solid rgb(224, 203, 173);
    width: 60vw;
    border-radius: 5px;
}

.introduction .intro-title {
    color: rgb(70, 70, 79);
    font-size: 1rem;
    font-family: 'arial';
    font-style: italic;
}


.introduction-carousel-container {
    /* margin-bottom: 50px; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    margin-bottom: 50px;
}


/* .carouselItem {
    position: relative;
} */

.introductionItem {
    padding: 15px;
    background-color: white;
    position: absolute;
    bottom: -40px;
    align-self: center;
    border-radius: 10px;
}

.introduction-flex-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
}

.cake {
    width: 50px;
    background-color: white;
    position: absolute;
    top: -15px;
    margin: 0 !important;
}


.recipe-recents {
    background-color: rgb(247, 116, 116);
}



.ingredients-list {
    list-style-type: circle;
    padding: 5px 0;
    color: red;
}


.cake,
h4 {
    text-align: center;
}


h4 {
    padding-bottom: 10px;
}

.goBehind {
    z-index: -100 !important;
}

.image-avg-container {
    position: relative;
}


.AVGrating {
    padding: 3px;
    position: absolute;
    bottom: 2%;
    right: 4%;
    z-index: 3;
    border-radius: 5px;
    background-color: white;
    margin-bottom: none !important;
}


.AVGrating h5 {
    font-size: 0.8rem;
    margin-bottom: 0px !important;
}

.colorGold {
    color: gold;
}