.introduction {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 2px solid rgb(224, 203, 173);
    width: 60vw;
    border-radius: 5px;

}

* {
    line-height: normal;
}




/*  Fix image and containers for index*/
/* Inside imageContainer there is an a*/

.image-avg-container {
    position: relative;
}

.product-container {
    /* flex-basis: 25%; */
    /* padding: 5px; */
    margin: 8px 0px;
    height: auto !important;
}

.imageContainer {
    /* overflow: hidden; */
    border-radius: 13px;
    /* width: 300px !important; */
}

.imageContainer a {
    /* overflow: hidden; */
    border-radius: 13px;
    height: auto;
    max-width: 400px !important;
    max-height: 100px !important;
    scale: 0.1;
}


.imageContainer a img {
    /* overflow: hidden; */
    border-radius: 13px;
    width: auto;
    height: auto !important;
    max-width: 500px !important;
    max-height: 200px !important;
}



/* .product-container:last-child {
  align-self: flex-start;
  margin-right: auto;
} */





/*  End of fix image and containers for index*/





.carousel-item {
    background: url('https://mdbootstrap.com/img/Photos/Slides/1.webp');
    background-size: cover;
    width: 100%;
    height: 250px;
}

.carousel-item:nth-child(2) {
    background: url('/images/test2.webp');
    background-size: cover;
    width: 100%;
    height: 250px;
}

.carousel-item:nth-child(3) {
    background: url('/images/test3.webp');
    background-size: cover;
    width: 100%;
    height: 250px;
}



#logo a {
    text-decoration: none;
}

#highest-ranked-section,
#latest-recipes-section {
    padding-bottom: 30px;
}


.most-popular-container,
.title-container {
    display: flex;
    justify-content: center;
}

#highest-ranked-section .most-popular-title {
    /* background-color: transparent; */
    display: inline;
    text-align: center;
    background-image: url('../../images/icon-images/green-brush-bg.png');
    background-size: 100%;
}



#latest-recipes-section .latest-recipes-title {
    /* background-color: transparent; */
    display: inline;
    text-align: center;
    background-image: url('../../images/icon-images/pink-brush-bg.png');
    background-size: 100%;
}



.description-hyperlink h6 {
    white-space: normal;
}

.container {
    justify-content: center !important;
}

/* .product-container {
    flex-basis: 50% !important;
} */


/* .body-information {
    margin-top: px;
} */

.introduction .intro-title {
    color: rgb(70, 70, 79);
    font-size: 1rem;
    font-family: 'arial';
    font-style: italic;
}


.introduction-carousel-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    margin-bottom: 50px;
}


/* .carouselItem {
    position: relative;
} */

.introductionItem {
    padding: 15px;
    background-color: white;
    position: absolute;
    bottom: -40px;
    align-self: center;
    border-radius: 10px;
}

.introduction-flex-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
}

.cake {
    width: 50px;
    background-color: white;
    position: absolute;
    top: -15px;
    margin: 0 !important;
}


.recipe-recents {
    background-color: rgb(247, 116, 116);
}



.ingredients-list {
    list-style-type: circle;
    padding: 5px 0;
    color: red;
}

div h6 {
    text-align: center;
}


.cake,
h4 {
    text-align: center;
}


h4 {
    padding-bottom: 10px;
}

.goBehind {
    z-index: -100 !important;
}





.AVGrating {
    padding: 3px;
    position: absolute;
    bottom: 2%;
    right: 4%;
    z-index: 3;
    border-radius: 5px;
    background-color: white;
    margin-bottom: none !important;
}


.AVGrating h5 {
    font-size: 0.8rem;
    margin-bottom: 0px !important;
}

.colorGold {
    color: gold;
}

@media (min-width: 480px) {
    .body-information {
        margin-top: 40px;
    }
}

@media (min-width: 522px) {
    .body-information {
        margin-top: 35px;
    }
}

@media(min-width: 900px) {}