.recipe-examples,
.introduction {
    padding: 20px;
    padding-bottom: 40px;
}



.ingredients-list {
    list-style-type: circle;
    padding: 5px 0;
    color: red;
}


.cake,
h4 {
    text-align: center;
}

h4 {
    padding-bottom: 10px;
}