.recipe-examples,
.introduction {
    padding: 20px;
    padding-bottom: 40px;
}

.recentUpload {
    padding: 20px 0px 40px 0px;
    margin: 5px;
    border: 1px dotted rgb(192, 144, 144);

}

.recentUploads h4,
p,
h3 {
    text-align: center;
}

.recipe-image {
    width: 100%;
}


.ingredients-list {
    list-style-type: circle;
    padding: 5px 0;
    color: red;
}


.cake,
h4 {
    text-align: center;
}

.detail-link {
    padding: 40px;
    white-space: nowrap;
    color: grey;
    text-align: center
}