.main-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 40px 0px;
    padding: 0 !important;
}


.title {
    font-size: 1.5rem;
    font-weight: 500;
}

.body-information {
    margin-top: 30px;
    padding: 10px;
}


.login-form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


.form-container {
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 5px;
    width: 300px;
}

.login-form>* {
    padding: 10px;
    margin-top: px;
}

.register-now {
    color: blue;
}



.login-form button {
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 3px;
    background: linear-gradient(0.50turn, rgba(199, 123, 188, 0.5), rgba(106, 169, 158, 0.5))
}

.login-form button:hover {
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.text-success {
    color: green;
}