/* .body-information {
    /* background: linear-gradient(0.25turn, rgba(138, 218, 227, 0.5), rgba(94, 223, 189, 0.5)); */
/* background: linear-gradient(#e66465, #9198e5); */

.body-information {
    background-image: url('../images/icon-images/cookies-bg.png');
    margin-top: 120px;
}


.form-container {
    display: flex;
    flex-flow: wrap column;
    padding: 10px 10px;
    background: linear-gradient(0.25turn, rgba(139, 193, 199, 0.5), rgba(77, 159, 177, 0.5));
}

.productCreate-form {
    max-width: 1000px;
}

.productCreate-form>* {
    padding: 10px !important;
}


.form-container div {
    padding: 10px 0px;
}


.form-container input,
textarea {
    border-radius: 2px;
    border: none;
}


.title-title {
    width: 100%;
    display: flex;
    /* align-content: center; */
    padding: 0;
    align-items: center;
    justify-content: center;
}

.title-title>* {
    padding: 10px 0px;
}

.recipe-pretitle {
    transform: rotate(-25deg);
    font-size: x-large;
    text-decoration: dotted;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 2px;
}

.description-label {
    text-align: center;
}



.title-title div input {
    text-align: center;
}


.directions-ingredients-container {
    display: flex;
    flex-direction: column;
}

.directions-ingredients-container>* {
    padding-top: 20px;
}

.description-container {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
}


.description-container textarea {
    resize: none;
}

/* this on resize */
/* .directions-ingredients-container {
    display: flex;
    flex-flow: row wrap;
}

.directions-ingredients-container>* {
    flex-basis: 40%;
}

.ingredients-container {
    padding-left: 20px;
} */


.product-directions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid grey;
}

.label-directions,
.label-ingredients {
    text-align: center;
    font-size: larger;
    border-bottom: 1px dashed grey;
    width: 100%;
    align-self: center;
}

.controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around
}

.controls-ol-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.controls {
    width: 100%;
}

.instruction-list-container,
.ingredient-list-container {
    width: 100%;
}

#ingredient-list li,
#instruction-list li {
    list-style-position: inside;
    margin: 10px 0px;
}

input {
    width: 100%;
}



.imageInputContainer input {
    display: none;
}

.imageInputContainer {
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.imageInputContainer label {
    text-align: center;
}


.image-label {
    display: none;
}

.product-preview {
    width: 100%;

}



.product-preview {
    text-align: center;
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.button-submit-container {
    display: flex;
    justify-content: center;
}

.button-submit-container button {
    padding: 7px;
    border-radius: 2px;
    border: none;
    color: white;
    background: linear-gradient(0.50turn, rgba(64, 169, 167, 0.5), rgba(70, 88, 160, 0.5));
}



@media (min-width: 480px) {
    .form-container {
        border-radius: 10px;
        margin: 20px;
    }

    .product-preview {
        width: 300px;
        height: 300px;
    }
}


/* small devices tablets */
@media (min-width:600px) {
    .form-container {
        padding-left: 10%;
        padding-right: 10%
    }
}

/* medium devices landscape tables */
@media (min-width:768px) {
    .form-container {
        padding-left: 10%;
        padding-right: 10%
    }
}

/* large devices laptops, desktops */
@media (min-width:992px) {
    .form-container {
        padding-left: 15%;
        padding-right: 15%
    }
}

/* extra large devices - large laptops, desktops  */
@media(min-width: 1200px) {
    .form-container {
        padding-left: 25%;
        padding-right: 25%;
    }
}