.introduction {
    /* background-color: rgb(201, 207, 221); */
    background-image: url("/images/minimal-bg.jpeg");
}

.strikethrough {
    text-decoration: 2px line-through;
}

li.strikethrough {
    transition: 1s
}

.image-container {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.image-avg-container {
    position: relative;
}

.colorGold {
    color: gold;
}

.AVGrating {
    padding: 3px;
    position: absolute;
    bottom: 2%;
    right: 4%;
    border-radius: 5px;
    background-color: white;
}


.OneRecipeImage {
    width: 100%;
    transition: transform .2s;
    border-radius: 30px;
}

.OneRecipeImage:hover {
    transform: scale(1.1)
}

.comment-form-container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
    padding: 30px;
}

.comment-form {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
}

.comment-form textarea {
    text-align: start;
    margin: 10px;
    height: 100px;
    width: 100%;
}

.comment-form button {
    width: 60px;
    height: 10%;
}

.comment-section-container {
    padding: 0px 10px
}

.error-container {
    width: 100%;
    display: block;
}


.comment-section {
    display: flex;
    flex-flow: column wrap;
    /* align-content: center; */
}


.user-comment-container {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;
    align-content: flex-start !important;
    align-items: flex-start !important;
    border-bottom: 1px solid rgb(173, 166, 166);
}

.comment-userComment {
    flex-basis: 100%;
    text-align: start;
    margin-left: 30px;
}

.comment-belongsTo {
    text-decoration: underline;
    flex-basis: auto;
    /* align-self: flex-start; */
    text-align: start;
    padding-top: 0 !important;
}



.introduction h3 {
    text-align: center;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
}


.OneProductContainer {
    border: none;
}



.description-hyperlink p {
    font-style: italic;
}

.ingredients {
    padding-bottom: 20px;
}

.ingredients ul,
p {
    padding: 10px;
}

.ingredients ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ingredients ul li {
    padding: 3px;
    text-align: start;
    align-self: start;
    list-style-type: circle;
    list-style-position: inside;
    padding: 5px 0;
    color: rgb(103, 103, 225);
}

.ingredients-list {
    display: flex;
    align-content: center;
}

.comments-header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}


.user-comment-image {
    width: 30px;
}

.comments-header span {
    display: block;
    /* content: ""; */
    margin: 5px;
    height: 3px;
    width: 100%;
    background-color: rgb(128, 125, 122);

}

.user-comment {
    display: flex;
}


.ingredients-list li {
    list-style: square inside !important;
}

.ingredients-list li:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.buttons button {
    padding: 3px;
    margin: 0px 4px;
}

.noButtons {
    visibility: hidden;
}


.rating {
    display: flex;
}

.rating li {
    padding: 0px 3px;
}


.user-comment-details-img {
    width: 100px;
}


/* star rating  */

.container {
    width: 400px;
    padding: 5px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .star-widget input {
    display: none;
}


.star-widget {
    display: flex;
    flex-flow: row-reverse;
}


.star-widget label i {
    font-size: 20px;
    color: #444;
    padding: 10px;
    /* float: right; */
    transition: all 0.4s ease;
}

.star-widget input:not(:checked)~label:hover i,
.star-widget input:not(:checked)~label:hover~label i {
    color: #fd4
}


input:checked~label i {
    color: #fd4
}

input#rate-5:checked~label i {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

/* end star rating */


@media (min-width: 480px) {
    .body-information {
        margin-top: 40px;
    }
}

@media (min-width: 523px) {
    .body-information {
        margin-top: 35px;
    }
}