.body-information {
    background-image: url('https://i.imgur.com/cwTudsQ.png');
    background-color: rgba(0, 0, 0, 0.1);
    padding: 40px 0px 80px 0px;
}


.form-container {
    display: flex;
    flex-flow: wrap column;
    padding: 10px 10px;
    /* background: linear-gradient(0.25turn, rgba(139, 193, 199, 0.5), rgba(77, 159, 177, 0.5)); */
    /* background: antiquewhite; */
    /* background: rgba(171, 184, 171, 1); */
    background: white;
}

.productCreate-form {
    max-width: 1000px;
}

.productCreate-form>* {
    padding: 10px !important;
}

.productCreate-form div input,
.productCreate-form div textarea {
    border: 1px solid black;
    border-radius: 3px;
}


.form-container div {
    padding: 10px 0px;
}


.form-container input,
textarea {
    border-radius: 2px;
    border: none;
}

.form-container input {
    background: white;
}


.title-title {
    width: 90%;
    display: flex;
    /* align-content: center; */
    padding: 0;
    align-items: center;
    justify-content: center;
}

.title-title>* {
    padding: 10px 0px;
}

.recipe-pretitle {
    transform: rotate(-25deg);
    font-size: x-large;
    text-decoration: dotted;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 2px;
}

.description-label {
    text-align: center;
}



.title-title div input {
    text-align: center;
}


.directions-ingredients-container {
    display: flex;
    flex-direction: column;
}

.directions-ingredients-container>* {
    padding-top: 20px;
}

.description-container {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
}


.description-container textarea {
    resize: none;
}

/* this on resize */
/* .directions-ingredients-container {
    display: flex;
    flex-flow: row wrap;
}

.directions-ingredients-container>* {
    flex-basis: 40%;
}

.ingredients-container {
    padding-left: 20px;
} */


.product-directions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid grey;
}

.label-directions,
.label-ingredients {
    text-align: center;
    font-size: larger;
    border-bottom: 1px dashed grey;
    width: 100%;
    align-self: center;
}

.controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around
}

.controls-ol-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.controls {
    width: 100%;
}

.instruction-list-container,
.ingredient-list-container {
    width: 100%;
}

#ingredient-list li,
#instruction-list li {
    list-style-position: inside;
    margin: 10px 0px;
}


input {
    width: 100%;
}



.imageInputContainer input {
    display: none;
}

.imageInputContainer {
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.errorBg {
    background-color: rgba(231, 241, 240, 0.5);
    margin: 3px 0px;
}

.imageInputContainer label {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerText {
    text-align: center;
}

#image-label p {
    color: white;
    font-size: 18px;
    position: absolute;
    transition: 1.5s linear;
}

#image-label p {
    color: rgb(39, 28, 28);
    visibility: visible;
    opacity: 0.7;
    opacity: 1;
    animation: fade 2s linear infinite;
}


/* .image-text-container:hover {
    filter: brightness(90%);
    cursor: pointer;
} */



@keyframes fade {

    0%,
    100% {
        opacity: 0
    }

    50% {
        opacity: 1;
    }
}













.product-preview {
    width: 100%;

}



.product-preview {
    text-align: center;
    display: block;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.button-submit-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}




.button-submit-container #button-for-submit:hover {
    background: #517732;
    box-shadow: inset 0px 0px 5px #6ab57c88;
    /* outline: none; */
    cursor: pointer;
}


.button-submit-container .button-for-clear:hover {
    background: rgba(136, 150, 73, 0.7);
    box-shadow: inset 0px 0px 5px #6ab57c88;
    /* outline: none; */
    cursor: pointer;
}


.button-submit-container .delete-userRecipe:hover {
    background: #a28f8f;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    /* outline: none; */
    cursor: pointer;
}



.button-submit-container button {
    padding: 7px;
    border-radius: 2px;
    border: none;
    color: white;
    background: linear-gradient(0.50turn, rgba(64, 169, 167, 0.5), rgba(70, 88, 160, 0.5));
}







@media (min-width: 480px) {
    /* .main-section {
        margin: 20px;
    } */

    .product-preview {
        width: 300px;
        height: 300px;
    }


}




/* small devices tablets */
@media (min-width:600px) {
    .main-section {
        padding-left: 5%;
        padding-right: 5%
    }


}

/* medium devices landscape tables */
@media (min-width:768px) {
    .main-section {
        padding-left: 10%;
        padding-right: 10%
    }


}

/* large devices laptops, desktops */
@media (min-width:992px) {
    .main-section {
        padding-left: 15%;
        padding-right: 15%
    }
}

/* extra large devices - large laptops, desktops  */
@media(min-width: 1200px) {
    .main-section {
        padding-left: 25%;
        padding-right: 25%;
    }
}