.introduction {
    height: 30px;
    background-image: url("/images/minimal-bg.jpeg");
    margin-bottom: 30px;
}

.strikethrough {
    text-decoration: 2px line-through;
}

li.strikethrough {
    transition: 1s
}

.image-container {
    width: 100%;
    overflow: hidden;
}

.OneRecipeImage {
    width: 100%;
    transition: transform .2s;
}

.OneRecipeImage:hover {
    transform: scale(1.05)
}


.description-hyperlink p {
    white-space: normal;
}


/* edit & product creator */

.edit-container {
    width: 130px;
    z-index: 3;
    background-color: rgba(250, 245, 240, 0.8);
    border-radius: 3px;
    padding: 3px;
}


.edit-icon {
    color: rgb(47, 39, 39);
    text-decoration: none !important;
}

.edit-creator-container {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.creator-image {
    max-width: 80px;
    max-height: 80px;
    border-radius: 10px
}


.creator-container-flex {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
    padding: 10px 10px 10px 0px;
    /* align-items: flex-end; */
}

.creator-container-flex p {
    align-self: flex-start;
}

.container-image {
    padding-right: 10px;
}


/* Ends edit & product creator */


.image-avg-container {
    position: relative;
}


.AVGrating {
    padding: 3px;
    position: absolute;
    bottom: 2%;
    right: 4%;
    border-radius: 5px;
    background-color: white;
}


.colorGold {
    color: gold;
}


.comment-form-container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: relative;
}

.comment-form {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
}

.comment-form textarea {
    text-align: start;
    margin: 10px 0px;
    height: 120px;
    width: 100%;
}

.submit-form {
    width: 60px;
    height: 10%;
    position: absolute;
    right: 20%;
    bottom: 17%;
    color: white;
    background-color: rgba(13, 11, 86, 0.8);
    border: none;
    border-radius: 3px;
}

.comment-section-container {
    padding: 0px 10px
}

.error-container {
    width: 100%;
    display: block;
}


.comment-section {
    display: flex;
    flex-flow: column wrap;
    /* align-content: center; */
}


.user-comment-container {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;
    align-content: flex-start !important;
    align-items: flex-start !important;
    border-bottom: 1px solid rgb(173, 166, 166);
}

.comment-userComment {
    flex-basis: 100%;
    text-align: start;
    margin-left: 30px;
}

.comment-belongsTo {
    text-decoration: underline;
    flex-basis: auto;
    /* align-self: flex-start; */
    text-align: start;
    padding-top: 0 !important;
}



.introduction h3 {
    text-align: center;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
}


.OneProductContainer {
    border: none;
}


/*  Product Navbar */
.productNavbar {
    padding: 10px 0px;
    margin: 10px 0px;
    background-color: rgba(250, 245, 240, 0.8);
    border-radius: 5px;
    height: 30px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}

.productNavbar p {
    color: blue;
    text-decoration: none;
    transition: 0.2s linear;
}

.productNavbar p:hover {
    color: rgb(172, 172, 212);
    text-decoration: none;
    cursor: pointer;
}


/* Ends product navbar */

.description-hyperlink {
    height: 100px;
}


.description-hyperlink p {
    font-style: italic;
    color: black;
}

/* ingredients */

.ingredients,
.directions {
    padding-bottom: 20px;
}

.ingredients-title,
.directions-title {
    padding: 30px 30px 20px 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.ingredients ul {
    display: flex;
    flex-flow: wrap;
}

.ingredients ul li {
    padding: 10px 10px;
    flex-basis: 100%;
    border-bottom: 1px solid rgb(187, 183, 183);
}

/* End of ingredients  */




/* Directions ol */

.directions ol li {
    padding: 10px 10px;
    flex-basis: 100%;
}

.directions-list ol {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    counter-reset: foo;

}


.directions ol li {
    padding: 20px 5px;
    flex-basis: 100%;
    counter-increment: foo;
    display: table;
}


.directions ol li::before {
    content: counter(foo) ".";
    display: table-cell;
    text-align: right;
    color: red;
    margin: 0px 8px 0px 0px;
    border-radius: 100%;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
}

/* ends Directions ol */



.comments-header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.creator-name-details {
    display: flex;
    flex-flow: column wrap;
}

.creator-name-details>* {
    padding: 5px 0px;
}

.creator-name-details p:nth-of-type(1) {
    color: blue;
}

#Overview,
#Steps,
#Comments {

    scroll-margin-top: 100px;

}


.recipe-title {
    padding: 20px 20px 40px 20px;
}


.user-comment-image {
    width: 30px;
}

.comments-header span {
    display: block;
    /* content: ""; */
    margin: 5px;
    height: 3px;
    width: 100%;
    background-color: rgb(128, 125, 122);

}

.user-comment {
    display: flex;
}


.ingredients-list li:hover,
.directions-list li:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.buttons button {
    padding: 3px;
    margin: 0px 4px;
}

.noButtons {
    visibility: hidden;
}


.rating {
    display: flex;
}

.rating li {
    padding: 0px 3px;
}


.user-comment-details-img {
    width: 100px;
}


/* star rating  */

.container {
    width: 400px;
    padding: 5px 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container .star-widget input {
    display: none;
}


.star-widget {
    display: flex;
    flex-flow: row-reverse;
}

.edit-icon i {
    color: green;
    padding-left: 5px;
}


.star-widget label i {
    font-size: 20px;
    color: #444;
    padding: 10px;
    /* float: right; */
    transition: all 0.4s ease;
}

.star-widget input:not(:checked)~label:hover i,
.star-widget input:not(:checked)~label:hover~label i {
    color: #fd4
}


input:checked~label i {
    color: #fd4
}

input#rate-5:checked~label i {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

.checkMark {
    content: "\2713";
    color: green;
}



/* end star rating */


@media (min-width: 480px) {
    .OneRecipeImage {
        border-radius: 15px;
    }

    .recipe-examples {
        margin: 0% 10%;
    }

    .image-container {
        border-radius: 15px;
    }


    .body-information {
        margin-top: 40px;
    }

    .submit-form {
        right: 20%;
    }

    .ingredients ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        /* justify-content: cent */
    }

    .ingredients ul li {
        padding: 15px 3px;
        border-bottom: 1px solid rgb(187, 183, 183);
        margin: 0px 5px
    }
}


@media (min-width: 523px) {
    .body-information {
        margin-top: 35px;
    }
}


@media (min-width: 768px) {
    .submit-form {
        right: 17%;

    }

    .creator-image {
        width: 140px;
    }

}

@media (min-width: 768px) {

    .recipe-examples {
        margin: 0% 15%;
    }
}

@media (min-width: 992px) {

    .recipe-examples {
        margin: 0% 20%;
    }
}