.body-information {
    margin-top: 30px;
}


.introduction {
    /* background-color: rgb(201, 207, 221); */
    background-image: url("/images/minimal-bg.jpeg");
    /* I can add a cool background if not just for the title ! */
}

.introduction h3 {
    text-align: center;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
}


.OneProductContainer {
    border: none;
}


.OneRecipeImage {
    width: 100%;
    max-height: calc()
}



.description-hyperlink p {
    font-style: italic;
}

.ingredients {
    padding-bottom: 20px;
}

.ingredients ul,
p {
    padding: 10px;
}

.ingredients ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ingredients ul li {
    padding: 3px;
    text-align: start;
    align-self: start;
    list-style-type: circle;
    list-style-position: inside;
    padding: 5px 0;
    color: rgb(103, 103, 225);
}

.buttons {
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.buttons button {
    padding: 3px;
    margin: 0px 4px;
}

.noButtons {
    visibility: hidden;
}