.buttons {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-evenly;
}



/*  Fix image and containers for product-list*/
/* Inside imageContainer there is an a*/

.image-avg-container {
    position: relative;
}

.product-container {
    /* flex-basis: 25%; */
    /* padding: 5px; */
    margin: 8px 0px;
    height: auto !important;
}

.imageContainer {
    /* overflow: hidden; */
    border-radius: 13px;
    /* width: 300px !important; */
}

.imageContainer a {
    /* overflow: hidden; */
    border-radius: 13px;

    /* max-width: 400px !important;
    max-height: 100px !important; */
    scale: 0.1;
}


.imageContainer a img {
    /* overflow: hidden; */
    border-radius: 13px;
    width: auto;
    height: auto !important;
    max-width: 250px !important;
    max-height: 220px !important;
}




/* .product-container:last-child {
  align-self: flex-start;
  margin-right: auto;
} */





/*  End of fix image and containers for product-list*/


















/* .body-information {
    margin-top: 3px;
} */

.buttons button {
    padding: 3px;
    margin: 0px 4px;
}

.noButtons {
    visibility: hidden;
}


.banner-container {
    width: 100%;
    display: inline-block
}

.banner-img {
    width: 100%;
}

.introduction {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    text-align: center;
    height: 300px;
}

.title-image-container {
    background-color: #dde9df;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    position: relative;
}


.cooking-pot-image {
    position: absolute;
    width: 50px;
    right: 10px;
    bottom: 3px;
}

.title-image-container h3 {
    font-family: 'Alegreya', serif;
    font-size: 1.5rem;
    align-self: center;
    font-weight: 200;
    font-style: oblique;
    padding: 15px 15px 5px 15px;
    /* border-left: 1px solid rgb(232, 159, 151); */
    /* border-right: 1px solid rgb(232, 159, 151); */
    /* border-top: 1px solid rgb(232, 159, 151); */
    width: 80%;
}

.imageContainer {
    position: relative;
}

.edit-icon {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.edit-icon i {
    padding-left: 5px;
    color: rgb(113, 181, 113);
}





.hide {
    display: none;
}




/* @media (min-width: 630px) {
  .container {
    justify-content: space-between !important;
  }
} */



@media(min-width:430px) {
    .introduction {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        text-align: center;
        height: auto;
        max-height: 300px;
    }

    .banner-container {
        width: 60%;
        display: inline-block
    }

    .banner-img {
        width: 100%;
    }

    .title-image-container {
        background-color: white;
        width: 40%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        position: relative;
    }

    .cooking-pot-image {
        display: none;
    }
}



@media(min-width:768px) {

    .title-image-container h3 {
        font-size: 1.7rem
    }

    .body-information {
        padding: 0px 40px;
    }


}


@media(min-width:992px) {

    .body-information {
        padding: 0px 60px;
    }

}


@media(min-width:1200px) {

    .body-information {
        padding: 0px 100px;
    }

}