.OneProductContainer {
    border: none;
}

h2 {
    text-align: center;
    padding: 15px;
}

.OneRecipeImage {
    width: 100%;
    max-height: calc()
}

.introduction {
    text-decoration: underline;
}

.description-hyperlink p {
    font-style: italic;
}

.ingredients {
    padding-bottom: 20px;
}

.ingredients ul,
p {
    padding: 10px;
}

.ingredients ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ingredients ul li {
    padding: 3px;
    text-align: start;
    align-self: start;
    list-style-type: circle;
    list-style-position: inside;
    padding: 5px 0;
    color: rgb(103, 103, 225);
}

.buttons {
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.buttons button {
    padding: 3px;
    margin: 0px 4px;
}

.noButtons {
    visibility: hidden;
}