.error-msg {
    color: red;
    padding: 10px;
}

.title {
    text-align: center;
    font-size: 1.5rem;
}

.main-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.form-container {
    background-color: antiquewhite;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    padding: 30px 50px !important;
    border-radius: 5px;
}

.login-form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}