.error-msg {
    color: red;
    padding: 10px;
}

.title {
    color: black !important;
}

.body-information {
    background-color: rgba(100, 200, 100, 0.3);
}

.form-container button {
    padding: 10px;
    margin: 15px 0px;
}

.form-container input {
    margin: 5px 0px;
    border: rgb(185, 173, 173) 1px solid;
}