body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body-information {
  /* padding: 35px 20px; */
  margin-bottom: 30px;
}

.introduction {
  padding-top: 70px;
}


ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo a:hover {
  text-decoration: none;
}

.recentUploads,
h4,
p,
h3 {
  text-align: center;
}

.recipe-image {
  width: 300px;
  height: 200px;
  /* align-self: center; */
  align-items: center;
}

.container .productContainer {
  padding: 30px;
  margin: 8px 0px;
}

.productContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: rgb(252, 248, 248); */
  background-color: rgb(250, 245, 245);
}

.detail-link {
  padding: 20px;
  white-space: nowrap;
  color: grey;
  text-align: center;
  vertical-align: middle;
}

.description-hyperlink {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form-container form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.form-container h3,
input,
label {
  padding: 10px;
}

.imageInputContainer {
  display: Flex;
  justify-content: center;
}

#image {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

#image-label {
  text-align: center;
  display: block;
  position: relative;
  margin: 30px;
  width: 120px;
  height: 33px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff906e, #bebddd);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.IngredientsInstructions {
  color: #ff906e;
}

.main-section {
  padding-top: 70px;
}


/* small devices tablets */
@media (min-width:480px) {
  .container {
    justify-content: space-evenly;
  }
}

/* medium devices landscape tables */
@media (min-width:768px) {
  .productContainer {
    width: 350px;
    /* margin: 5px !important; */
    padding-bottom: 50px !important;
  }
}

/* large devices laptops, desktops */
@media (min-width:992px) {
  .form-container {
    padding-left: 15%;
    padding-right: 15%
  }
}

/* extra large devices - large laptops, desktops  */
@media(min-width: 1200px) {
  .form-container {
    padding-left: 25%;
    padding-right: 25%;
  }
}