body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body-information {
  padding: 35px;
}

.introduction {
  padding-top: 70px;
}


ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo a:hover {
  text-decoration: none;
}

.recentUploads,
h4,
p,
h3 {
  text-align: center;
}

.recipe-image {
  width: 100%;
  max-height: 200px;
}

.productContainer {
  width: 250px;
  padding: 20px 0px 40px 0px;
  margin: 15px 0px 15px 0px;
  border: 1px dotted rgb(192, 144, 144);
}

.detail-link {
  padding: 20px;
  white-space: nowrap;
  color: grey;
  text-align: center;
  vertical-align: middle;
}

.description-hyperlink {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}