.user-details {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.user-details>* {
    padding: 15px;
}

.user-details a {
    color: blue;
}

.user-image {
    width: 300px;
    border-radius: 30px;
}

.account-delete {
    color: red !important;
}

.user-email {
    background-color: aliceblue;
    width: 300px;
    height: auto;
    border-radius: 5px;
}

/* .user-image:hover {
    filter: brightness(90%);
    cursor: pointer;
} */

.image-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}


.text-container {
    color: rgb(100, 24, 24);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}


.image-text-container:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.image-text-container:hover .text-container {
    visibility: visible;
    opacity: 0.7;
}

a:hover {
    color: rgb(142, 142, 33);
}