.user-details {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.user-details>* {
    padding: 15px;
}

.user-details a {
    color: blue;
}

.maxImageWidth {
    width: 300px;
}

.user-image {
    width: 280px !important;
    height: 260px;
    border-radius: 30px;
}

/* .image-container img {
    max-width: 300px !important;
    max-height: 300px !important;
} */

.account-delete {
    color: red !important;
}

.user-email {
    background-color: aliceblue;
    width: 300px;
    height: auto;
    border-radius: 5px;
    border: none;
}

/* .user-image:hover {
    filter: brightness(90%);
    cursor: pointer;
} */

.image-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}


.text-container {
    color: rgb(100, 24, 24);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}


.image-text-container:hover {
    filter: brightness(90%);
    cursor: pointer;
}


.image-text-container:hover .text-container {
    visibility: visible;
    opacity: 0.7;
}

a:hover {
    color: rgb(142, 142, 33);
}

.edit-image-form input {
    top: 80px;
    left: 80px
}

.edit-image-form {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.edit-image-form .submitFormBtn {
    margin: 10px 0px;
}

.image-input {
    display: none;
}

.nodisplay {
    display: none;
}

.input-image-form-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center
}


.submitFormBtn {
    width: 150px;
    align-self: center;
    background: #3492c9;
    color: white;
    border-style: outset;
    border-color: #5498c0;
    height: 30px;
    width: 100px;
    font: bold15px arial, sans-serif;
    text-shadow: none;
    border-radius: 5px;
}


.btn-form-container {
    display: flex;
    justify-content: center;
}

.btn-form-container>* {
    margin: 0 5px;
}

.clearFormBtn {
    width: 150px;
    align-self: center;
    background: #3492c9;
    color: white;
    border-style: outset;
    border-color: #5498c0;
    height: 30px;
    width: 100px;
    font: bold15px arial, sans-serif;
    text-shadow: none;
    border-radius: 5px;
}

.submitFormBtn:hover {
    cursor: pointer;
}

#image {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}


.input-image-form-container>* {
    padding: 10px;
}

.text-danger {
    color: red;
}

.check-uploaded-recipes-container {
    display: flex;
    position: relative;
}

.noRecipesError {
    position: absolute;
    left: 310px;
}

.check-uploaded-recipes-container>* {
    padding: 0 5px;
}

.username-input-container {
    position: relative;
}

.username-input-container input {
    width: auto;
}

.username-input-container i {
    position: absolute;
    right: 70px;
    color: rgb(164, 159, 152)
}

.user-email-container {
    position: relative;
}

.user-email-container i {
    position: absolute;
    right: 20px;
    color: rgb(164, 159, 152)
}



.user-email {
    text-align: center;
}

.username-input {
    text-align: center;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 1.17rem;
}

.username-input:hover,
.user-email:hover {
    cursor: pointer;
}

.image-text-container:hover i {
    visibility: visible !important;
    z-index: 0;
}

.noShow {
    visibility: hidden;
}