/* .main-section {
    background-image: url('../images/icon-images/blueMountain-bg.png');
} */

main {
    background-image: url('../images/icon-images/cookies-bg.png');
    background-color: rgba(0, 0, 0, 0.1)
}

.user-details {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.user-details>* {
    padding: 15px;
}

.user-details a {
    color: blue;
}

.maxImageWidth {
    width: 300px;
}

.user-image {
    max-width: 100%;
    max-height: 260px;
    /* width: 280px !important;
    height: 260px; */
    border-radius: 30px;
}

/* .image-container img {
    max-width: 300px !important;
    max-height: 300px !important;
} */

.account-delete {
    color: red !important;
}

.user-email {
    background-color: aliceblue;
    width: 300px;
    height: auto;
    border-radius: 5px;
    border: none;
}

/* .user-image:hover {
    filter: brightness(90%);
    cursor: pointer;
} */

.user-profile-title {
    font-size: 1.2rem;
    padding: 20px;
    background: white;
}

.image-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 30px;
    /* background: white; */
    /* background-image: url('../images/icon-images/blueMountain-bg.png'); */
}


.text-container {
    color: rgb(100, 24, 24);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.image-container:hover {
    cursor: pointer;
}


.image-text-container .text-container {
    color: rgb(161, 161, 161);
    visibility: visible;
    opacity: 0.7;
    animation-iteration-count: infinite
}

.text-container {
    opacity: 1;
    animation: fade 5s linear;
}

@keyframes fade {

    0%,
    100% {
        opacity: 0
    }

    50% {
        opacity: 1;
    }
}









a:hover {
    color: rgb(142, 142, 33);
}

.error-msg {
    text-align: center;
    padding: 5px 0px;
    color: Red;
}

.edit-image-form input {
    top: 80px;
    left: 80px;
    /* background-image: url('../images/icon-images/blueMountain-bg.png'); */
}

.edit-image-form {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.edit-image-form .submitFormBtn {
    margin: 10px 0px;
}

/* .image-input {
    display: none;
} */

.nodisplay {
    display: none;
}

.input-image-form-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center
}


.submitFormBtn {
    width: 150px;
    align-self: center;
    background: #3492c9;
    color: white;
    border-style: outset;
    border-color: #5498c0;
    height: 30px;
    width: 100px;
    font: bold15px arial, sans-serif;
    text-shadow: none;
    border-radius: 5px;
}


.btn-form-container {
    display: flex;
    justify-content: center;
}

.btn-form-container>* {
    margin: 0 5px;
}

.clearFormBtn {
    width: 150px;
    align-self: center;
    background: #3492c9;
    color: white;
    border-style: outset;
    border-color: #5498c0;
    height: 30px;
    width: 100px;
    font: bold15px arial, sans-serif;
    text-shadow: none;
    border-radius: 5px;
}

.submitFormBtn:hover {
    cursor: pointer;
}

#imageInput {
    display: none;
}

#image {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}


.input-image-form-container>* {
    padding: 10px;
}

.text-danger {
    color: red;
}

.check-uploaded-recipes-container {
    display: flex;
    position: relative;
    flex-direction: column;
}

.noRecipesError {
    /* position: absolute; */
    left: 310px;
}

.check-uploaded-recipes-container>* {
    padding: 0 5px;
}

.username-input-container {
    position: relative;
}

.username-input-container input {
    width: auto;
    max-width: 150px;
}

.username-input-container i {
    position: absolute;
    right: 0;
    color: rgb(164, 159, 152)
}

.user-email-container {
    position: relative;

}

.user-email-container i {
    position: absolute;
    right: 30px;
    color: rgb(164, 159, 152)
}

.delete-user {
    background: none;
    border: none;
    color: rgb(227, 137, 137);
    transition: 0.5s linear;
}

a,
button {
    transition: 0.5s linear;
    text-decoration: none !important;
}

.logout:hover,
button:hover,
.check-uploaded-recipes-container a:hover {
    cursor: pointer;
    box-shadow: 5px 10px #3492c9;
}

.delete-user:hover {
    color: red;
}


.user-email {
    text-align: center;
    width: auto;
}


.username-input {
    text-align: center;
    width: 50px;
    border: none;
    border-radius: 5px;
    font-size: 1.17rem;
}

.username-input:hover,
.user-email:hover {
    cursor: pointer;
}

.image-text-container:hover i {
    visibility: visible !important;
    z-index: 0;
}

.noShow {
    visibility: hidden;
}